* {
    box-sizing: border-box;
  }

body{
    margin:0;
    font-family: "Hikagino Kaku Gothic ProN";
    font-size: 14px;
    color: #888;
    font-weight: 400;
    box-sizing: border-box;
}

.container{
    max-width:1170px;
    width:100%;
    padding:0 15%;
    margin:0 auto;
}

.top-wrapper{
    margin: 0 auto;
    padding:120px 0 120px 0;
    text-align: center;
    color: white;
    background-image:url(massage4.png);
    background-size:cover;
    color:#703e43;
}

header{
    height:50px;
    width: 100%;
    background-color: aliceblue;
    position:fixed;
    top: 0;
    z-index: 10;
}

.header-logo{
    width:130px;
    margin-top:10px;
    color: #777;
    font-weight: 700;
    font-size: 22px;
}

.header-left{
    float: left;
}

.header-right{
    float:right;
}
.header-right a{
    float:left;
    color:black;
    padding: 0 25px;
    display:block;
}
.header-right a:hover {
    background-color: rgba(46, 116, 247, 0.699);
  }
  .header-icon-iphone{
      display:none;
  }
.openTime-wrapper{
    padding-bottom: 80px;
    padding-left:5%;
    padding-right:5%;
    background-color:#f7f7f7;
    text-align:center;
}  
.heading{
    padding-top: 80px;
    padding-bottom: 50px;
    color:#747dfc;
    text-align:center;
}
.heading h2{
    font-weight:h2;
}
.timeTable-list li{
    list-style:none;
}
.medicalFee-wrapper{
    padding-bottom:100px;
    padding-left:5px;
    padding-right:5px;
    background-color:#e8e8e8;
    text-align: center;
}
.course{
    float:left;
    width:100%;
    margin-bottom:15px;
}
.course-icon img{
    width: 100%;
    height: 60%;
    object-fit: cover; /* この一行を追加するだけ！ */
}
.course-icon p{
    font-size: 20px;
}
.text-contents{
    width:80%;
    display:inline-block;
    margin-bottom:50px;
    font-size: 13px;
}

footer{
    text-align:center;
}
/* --------------------  ※↓はレスポンシブデザインの設定-------------------- */
.clear{
    clear:left;    
}
